nav .navbar{
   transition: all 5s ease;
}

.navbar-custom {
    padding: 20px 1rem;
}

.navbar-brand {
    transition: all 5s ease;
}

.navbar-custom .navbar-brand{
    font-size: 28px;
}

.nav-link {
    transition: all 5s ease;
}

.navbar .justify-content-center .nav-link {
    font-size: 13px;
    font-weight: 700;
}

.navbar .justify-content-end .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.bg-white {
    transition: all 5s ease;
    background-color: #ffffff;
    box-shadow: 0 0.8px 1px -1px #999;
    padding: 0.3rem 1rem;
}

.bg-dark {
    transition: all 5s ease;
}
