.navbar .navbar-nav > li > a {
  -webkit-transition: padding-top 0.3s ease;
  -moz-transition: padding-top 0.3s ease;
  -ms-transition: padding-top 0.3s ease;
  -o-transition: padding-top 0.3s ease;
  transition: padding-top 0.3s ease;
}

.navbar-custom {
    height: 100px;
}

.navbar-custom .navbar-brand{
    font-size: 28px;
}

.navbar .justify-content-center .nav-link {
    font-size: 13px;
    font-weight: 700;
}

.navbar .justify-content-end .nav-link {
    font-size: 14px;
    font-weight: 700;
}
